<?php
define( 'DB_NAME', 'wordpress' );
define( 'DB_USER', 'wordpress' );
define( 'DB_PASSWORD', 'wordpresspw' );
define( 'DB_HOST', '192.168.56.15' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         'g &=qGs.zu++<X`hRq-|+60u1gSimSn8PNllE:p2Wqh~`$$HaWCtSq{S T@([81s' );
define( 'SECURE_AUTH_KEY',  'p-o-B+]~jjIATv_zx M|.DTWwn`I`j+XX3?M=cZ1J*#u4whc hC^-]jK&`mvVI$4' );
define( 'LOGGED_IN_KEY',    'xnI5DXQf7bBfoU^!{$|Gq;h$CH))bs`7SD)3eGQ+Y?(Dxhy<J`1#|Xv(3?cVbYJz' );
define( 'NONCE_KEY',        'w?*>>~uNNgY:ngN(z^]bH):6o,mu@M+Env{@c4zxg0uQQtA~7hYqM]2Yd(xCS?[T' );
define( 'AUTH_SALT',        'Q=f8mQZQPRH7bu_!{1L-+gJ^p)5cK?n>YmS*+%n?8[PN$-)e4;vjwPxuR/_hz(L1' );
define( 'SECURE_AUTH_SALT', 'Kfhhh,+=kQQi6LN1$.|ELj)6G#em|X&RMU*QPl7c]N+A1qExHX9rzfa {FAK6nV6' );
define( 'LOGGED_IN_SALT',   'Ws8>yTcX[ZpOG+LGybr>(9X8|%b|GL rak^g6z|r+tuxz#iO-k19R[uZ5T8Ig_Tg' );
define( 'NONCE_SALT',       'F*d@j4`51!wX=gnd[S]+[D4L7?*N]rpEMI]a+amlO,&9B8mwAx-Vvv/T9)rD+o!B' );

$table_prefix = 'wp_';

define( 'WP_DEBUG', true );

if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
