<?php
define( 'DB_NAME', '{{ wp_mysql_db_name }}' );
define( 'DB_USER', '{{ wp_mysql_user }}' );
define( 'DB_PASSWORD', '{{ wp_mysql_pw }}' );
define( 'DB_HOST', '192.168.56.15' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

{{ wp_salt }}

$table_prefix = '{{ wp_table_prefix }}';

define( 'WP_DEBUG', true );

if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
